In [2]:
import networkx as nx
import pandas as pd

C:\Users\AKSHITA\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
G = nx.DiGraph()

with open("edited_wiki-Vote.txt", "r") as f:
    for line in f:
        node1, node2 = line.strip().split()
        G.add_edge(node1, node2)

PageRanks

In [21]:
pr = nx.pagerank(G)
nodes=pr.keys()
scores=pr.values()
pageranks=pd.DataFrame()
nodes = [int(num) for num in nodes]
pageranks['Node']=nodes
pageranks['Score']=scores
pageranks = pageranks.sort_values(by="Node")
pageranks.to_csv("pageranks.csv")
pageranks

      Node     Score
6        3  0.000205
104      4  0.000050
116      5  0.000050
30       6  0.000312
341      7  0.000050
...    ...       ...
884   8293  0.001704
1131  8294  0.000910
1112  8295  0.000754
3578  8296  0.000086
1526  8297  0.000356

[7115 rows x 2 columns]

Authority Score and Hub Score

In [18]:
hits = nx.hits(G)
hit=pd.DataFrame()
nodes = [int(num) for num in hits[1].keys()]
hit['Node']=nodes
hit['Authority Score']=hits[1].values()
hit['Hub Score']=hits[0].values()
hit = hit.sort_values(by="Node")
hit.to_csv("hits.csv")
hit

      Node  Authority Score  Hub Score
6        3         0.000095   0.000040
104      4         0.000000   0.000073
116      5         0.000000   0.000035
30       6         0.000064   0.001054
341      7         0.000000   0.000082
...    ...              ...        ...
884   8293         0.001409   0.000000
1131  8294         0.001122   0.000000
1112  8295         0.001094   0.000000
3578  8296         0.000137   0.000000
1526  8297         0.000365   0.000000

[7115 rows x 3 columns]