In [8]:
import networkx as nx
import pandas as pd

C:\Users\AKSHITA\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [23]:
G = nx.DiGraph()

with open("edited_wiki-Vote.txt", "r") as f:
    for line in f:
        node1, node2 = line.strip().split()
        G.add_edge(node1, node2)

PageRanks

In [28]:
pr = nx.pagerank(G)
nodes=pr.keys()
scores=pr.values()
pageranks=pd.DataFrame()
pageranks['Node']=nodes
pageranks['Score']=scores
pageranks

      Node     Score
0       30  0.000173
1     1412  0.000814
2     3352  0.001785
3     5254  0.002150
4     5543  0.001051
...    ...       ...
7110  8270  0.000050
7111  8272  0.000050
7112  8273  0.000050
7113  8150  0.000050
7114  8274  0.000050

[7115 rows x 2 columns]

In [20]:
pageranks.to_csv("pageranks.csv")

Authority Score and Hub Score

In [27]:
hits = nx.hits(G)
hit=pd.DataFrame()
hit['Node']=hits[1].keys()
hit['Authority Score']=hits[1].values()
hit['Hub Score']=hits[0].values()
hit

      Node  Authority Score     Hub Score
0       30         0.000095  7.925510e-05
1     1412         0.000122  0.000000e+00
2     3352         0.002328  3.381423e-03
3     5254         0.001825  3.772096e-04
4     5543         0.001285  1.396972e-03
...    ...              ...           ...
7110  8270         0.000000  1.067063e-05
7111  8272         0.000000  5.011703e-06
7112  8273         0.000000  5.011703e-06
7113  8150         0.000000  5.705629e-07
7114  8274         0.000000  3.733950e-07

[7115 rows x 3 columns]

In [29]:
hit.to_csv("hits.csv")